body {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    height: 180px;
    width: 180px;
    border: 8px solid black;
    border-radius: 20%;
    margin: 10px;
    cursor: pointer;
}

/* Colors */
.red { background-color: #d9534f; }
.green { background-color: #5cb85c; }
.blue { background-color: #5bc0de; }
.yellow { background-color: #f0ad4e; }

/* Computer Flash */
.btn.flash {
    background-color: white !important;
}

/* User Click Flash */
.btn.userFlash {
    background-color: cornflowerblue !important;
}